// cores

$pale-blue:hsl(225, 100%, 94%);
$satured-blue: hsl(245, 75%, 52%);

$very-pale-blue: hsl(225, 100%, 98%);
$desatured-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

$hover-color:hsla(245, 83%,68%, 1);

//typography

$text-size: 1.6rem;
$text-family:'red hat Display', sans-serif;

//space

$space: 0.2rem;